# WEKA TOKEN YAKO YA TELEGRAM HAPA
BOT_TOKEN=123456789:ABCDEFGHIJKLMNOPQRSTUVWXYZ

# WEKA CONNECTION STRING YA DATABASE YAKO HAPA
# Mfano (MySQL): mysql://johndoe:randompassword@localhost:3306/mydb
DATABASE_URL="mysql://root:password@localhost:3306/giglink_db"

# KAMA UNATUMIA WEBHOOK (PRODUCTION), WEKA URL YAKO HAPA
# (Hakikisha haina '/' mwishoni)
WEBHOOK_URL="https://bot.giglink.co.tz"

# PORT AMBAYO SERVER ITAWAKA
PORT=3000
